#!/usr/bin/python3

from datetime import datetime, timedelta

ALARMS_XML = "alarms.xml"
SNOOZE_TIME = timedelta(minutes=5)
REPEAT_NUMBER = 3
ALARM_MUSIC = "music.flac"
HOSTNAME = "Alarm clock"
MQTT_BROKER = "localhost"
MQTT_BROKER_PORT = 7707
MQTT_USERNAME = "admin"
MQTT_PASSWORD = "admin"
MQTT_TOPIC_NIGHTSTAND_BUTTON = "/bedroom/nightstand/button"
MQTT_TOPIC_SPEAKERS = "/bedroom/speakers"
MQTT_TOPIC_LED_STRIP_SOFTWARE_STATION = "/bedroom/software_station/led_strip"
MQTT_QOS = 0