#ifndef _PANCHO_CONFIG_
#define _PANCHO_CONFIG_

#define STASSID "ssid"
#define STAPSK  "passwd"
#define HOSTNAME "Nightstand display"
#define MQTT_BROKER "localhost"
#define MQTT_BROKER_PORT 7707
#define MQTT_USERNAME "admin"
#define MQTT_PASSWORD "admin"
#define MQTT_TOPIC_LCD "/bedroom/nightstand/lcd"
#define MQTT_TOPIC_BUTTON "/bedroom/nightstand/button"
#define MQTT_TOPIC_LED_STRIP_SOFTWARE_STATION "/bedroom/software_station/led_strip"
#define MQTT_QOS 0
#define BAUD_RATE 9600
#define BUFFER_LENGTH 255
#define TIME_PER_MESSAGE 5 // in secconds

#endif